<app-navbar></app-navbar>
<div class="home-container">
  <div class="icon-grid">
    <div class="icon-card" (click)="goTo('authors')">
      <img src="/assets/escritor.png" alt="Autores" />
      <span>Autores</span>
    </div>
    <div class="icon-card" (click)="goTo('books')">
      <img src="/assets/books.png" alt="Libros" />
      <span>Libros</span>
    </div>
        <div class="icon-card" (click)="goTo('publisher')">
      <img src="/assets/publisher.png" alt="Editoriales" />
      <span>Editoriales</span>
    </div>
  </div>
</div>

